<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name Lastname</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.name + ' ' +author.lastName}"> Spring in Action</td>
        <td th:each="book : ${author.books}">
                <p th:text="${book.title}"></p>
        </td>
    </tr>
</table>

</body>
</html>